* {
    box-sizing: border-box;
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding : 5px 10px;
}

.wrapper{
    /*
    width: 524px;
    height: 420px;
    */

    width : 100%;
    height:100%;
    padding : 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper__header{
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper__body{
    width: 100%;
    height: 270px;
    background-color: gray
}

.wrapper__body__contents{
    width: 100%;
    height: 100%;
}


.contents__title{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    color: #55B2D4;
}

.title{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.subtitle {
    font-size: 8px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 10px;
}
    
.divideLine{
    width: 100%;
    border-top : 1px solid gray;
}


.video{
    width: 100%;
    height: 240px;
    background-color: #C4C4C4;
    margin-top: 15px;
}

.contents__body {
    font-size: 12px;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
