@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body{
    padding:0px;
    margin: 0px;
    display: block;
    font-family: 'SUITE-Regular';
}

.header{
    height: 300px;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

#headerImg{
    margin : 10px;
    background-image: url('../image/project.png');
    width: 300px;
    height: 300px;
    background-size: cover;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header, .nav{
    text-align: center;
}

section {
    margin:10px 10px 10px 10px;
    width: 99%;
    height: 700px;
    display: flex;
    flex-direction: row;
}

#section__login{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 30px;
}

.article__left{
    width: 40%;
    height: 100%;
    margin:10px 10px 10px 10px;
    border-radius: 30px;
    border-style: solid;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-evenly;
}

.form-floating {
    text-align: center;
    padding: 10px;
    justify-content: space-between;
}


#submit{
    width: 500px;
    height: 50px;
}

#map{
    width: 100%;
    height: 100%;
    margin:10px 10px 10px 10px;
    border-radius: 30px;
    border-style: solid;
}


footer{
    width: 100%;
    height: 100px;
    margin-top: 40px;
    text-align: center;
    color: lightsteelblue;
}