@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-mono: monospace;
  --color-neon-cyan: #00F3FF;
  --color-tech-black: #050505;
  --color-tech-gray: #111111;
  --color-hot-pink: #FF007F;
}

:root {
  --bg-color: #050505;
  --text-color: #FFFFFF;
}

body {
  background-color: #050505;
  color: #FFFFFF;
  margin: 0;
}
