@font-face {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 700px;
    margin: 10px;
    background-image: url("./background.svg");
    background-size: cover;
    font-family: "GangwonEdu_OTFBoldA";
}

div {
    margin: 5px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    border-style: dotted;
    border-width: 10px;
    border-color: wheat;
    border-radius: 30px;
}

hr{
    width: 100%;
    color :slategray;
    border-style: solid;
    border-width: 1px;
}
/* 개인별 레이아웃 설정 */
section {
    display: flex;
    width: 100%;
    height: 100%;
    padding : 1px;
}


/* Center 레이아웃 설정 */
article{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#westContext {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 85%;
    border-radius: 10px;    
}

h1{
    font-size: 40px;
    color: black;
    text-shadow: 3px 3px 3px whitesmoke;
}

h2 , h3{
    font-size : 30px;
    color : wheat;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

p, a{
    font-size: 18px;
    color: black;
}

.rightSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    padding : 1px;
}

/* 버튼 스타일 */
button:active{
    width: 100%;
    height: 100%;
    font-size: 25px;
}

.backBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    border-color: aliceblue;
    color: aliceblue;
    border-style: solid;
    border-radius: 20px;
    background-color:transparent;
}

hr {
    color: aliceblue;
}

.mainButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:transparent;
    border : none;
}

#gallay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 10px 10px 10px 10px;
}
