* {
    box-sizing: border-box;
}

hr { 
    border : none;
    height: 1px;
    background-color : silver;
}
f {
    color: #CFCFCF;
}

bl {
    color : #0068FF;
}

bk {
    color : black;
}
.backgroundmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 1080px;
}

.mainbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px;
    width: 670px;
    height: 960px;
    border-radius: 20px;
    border : 1px solid #aacdff
}

.gender {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size : 13px;
    color : black;

}

.checkboxclass {
    display: flex;
    justify-content: center;
    font-size : 13px;
}

.buttonbox { 
    width : 470px;
    height : 75px;
    border-radius: 10px;
    border : 1px solid #0068FF;
    background-color: white;
    color : #0068FF;
    font-size : 18px;
}





.boxtext { 
    width: 158px;
    height: 24px;
    size: 14px;
    color: #797979;
}

#infotext {
    color : #0068FF;
    font-size : 30px;
    font-weight: bold;
}