* {
    box-sizing: border-box;
    margin : 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.wrapper{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border : 1px solid black;
}

.wrapper__header{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title{
    color : #55B2E4;
    font-size : 13px;
    fint-weight: 700;
}


.subtitle{
    font-size : 8px;
    padding-left : 5px;
}
.divideLine{
    width:100%;
    border-top : 1px solid gray;
}
.game__container{
    width: 222px;
    height: 168px;
    border : 1px solid gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding : 20px;
    background-color: #F6F6F6;
}

.game__title{
    font-size : 15px;
    font-weight: 900;
}

.game__subtitle{
    font-size: 11px;
}

.word__result{
    font-size : 11px;
    font-weight: 700;
}

.word__text{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textbox {
    width: 130px;
    height: 24px;
    border-radius: 5px;
}

.search{
    font-size : 11px;
    font-weight: 700;
    width: 38px;
    height: 24px;
}

.pushtext{
    color : gray;
    font-size : 10px;
}

.game__lotto__number{
    width: 130px;
    height: 21px;
    background-color: yellow;
    border : solid 1px black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size : 10px;
    font-weight: 700;
    margin-top : 10px;
    margin-bottom: 11px;
}   

.push{
    background-color: white;
    font-size : 11px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid black;
    width: 62px;
    height: 24px;
}