@font-face {
    font-family: 'KCCMurukmuruk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCMurukmuruk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'KCCMurukmuruk', sans-serif;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 70px;
}

ul{
    font-size: 30px;
}

button {
    width: 300px;
    height: 100px;
    font-size : 15px;
    background-color: beige;
}

.backBtn {
    width: 50%;
    height: 20%;
    justify-content: center;
    padding : 30px 0px 30px 0px;
}

.gallery{
    flex-direction: row;
    align-items: center;
    align-items: space-around;
    border-style: dotted;
    border-width: 10px;
    border-color: antiquewhite;
}

.image {
    width: 100%;
    height: 100%;
    background-color: black;
    margin : 10px 10px 10px 10px;

}

.homes{
    color : rgb(255, 213, 0);
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}
