@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


*{
    font-family: 'omyu_pretty';
}

body {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 1200px;
    height: 1200px;
}

div{
    display: inline-block;
    height: 100%;
}

#header{
    display: block;
    color: black;
    text-align: center;
    height: 8%;
}

#nav{
    display: inline-block;
    width:100%;
    height: 45px;
    margin-top : 5px;
}

#article{
    width: 30%;
}


#section{
    width: 1140px;
    display: inline-block;
    margin-left: 100px;
    align-items: center;
}


#footer{
    display: block;
    height: 30px;
    text-align: center;
}

.container{
    height: 400px;
}

.btn-group {
    padding-left: 120px;
    width: 100%;
    text-align: center;
}


.btn-warning{
    width: 70px;
    height: 35px;
    text-align: center;
}

img{
    width: 70%;
    height: 63%;
    margin: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
